<ul class="menu-list">
    {% for pg in pages %}
        {% if not pg.hidden and pg.level == 0 %}
            <li>
            {% if pg.children %}
                <a class="{%if page and page.name.startswith(pg.name)%}is-active{%endif%}" href="{%if pg.link %}{{link}}{%elif pg.href%}{{pg.href|href}}{%elif pg.name %}{{pg.name|href}}{%else%}#{%endif%}" data-toggle="collapse" data-target="page-{{pg.name}}-nav">{{pg.title or pg.navtitle}}</a>
                <ul class="{%if page and not page.name.startswith(pg.name) or not page%}is-hidden{%endif%}" id="page-{{pg.name}}-nav">
                    {% for child in pg.children %}
                        {% if not child.hidden and child.level == 1 %}
                            <li>
                                <a class="{%if page and page.name.startswith(child.name)%}is-active{%endif%}" href="{{child.name|href}}">{{child.navtitle or child.title}}</a>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            {% else %}
                {% if not pg.hide_if_active or (page and pg.name and not page.name.startswith(pg.name)) %}
                <a class="{%if page and page.name.startswith(pg.name)%}is-active{%endif%}" href="{%if pg.link %}{{pg.link}}{%elif pg.href %}{{pg.href|href}}{%elif pg.name%}{{pg.name|href}}{%else%}#{%endif%}">{{pg.navtitle or pg.title}}</a>
                {% endif %}
            {% endif %}
            </li>
        {% endif %}
    {% endfor %}
    <li>
        <a href="#" data-toggle="collapse" data-target="menu-language-dropdown">
            {{'languages'|translate}}
        </a>
        <ul id="menu-language-dropdown" class="is-hidden">
        {% for language in languages %}
            {% if params.name in site.links[language] %}
                <li>
                    <a class="{% if lang == language %}is-open is-active{%endif%}" href="{{params.name|href(language=language)}}">
                        {{languages[language].language}}
                    </a>
                </li>
            {% endif %}
        {% endfor %}
        </ul>      
    </li>
</ul>
