@import 'colors.scss';
@import 'fonts.scss';
@import 'articles.scss';
@import 'cookie-notice.scss';
@import '../css/bulma.min.css';

body {
    font-family: "Nunito", sans-serif;
    font-weight: 400;
    min-height: 100vh;
    @media(max-width: 767px){
        font-size: 0.8em;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Muli", sans-serif;
}

.articles-overview, .index-overview {

    .subtitle {
        font-size: 1.6rem;
        margin-bottom: 1rem;
    }

    .subsubtitle {
        font-size: 1.4rem;
        margin-bottom: 0.5rem;
    }

    p.description {
        padding: 1rem;
        background: #fafafa;
        font-style: italic;
        border-radius: 4px;
        margin-bottom: 1rem;
    }

    table.table {
        a {
            padding-right: 1rem;
        }
        thead {
            @media(max-width: 767px) {
                display: none;
            }
            tr {
                th:first-child {
                    @media(min-width: 768px){
                        text-align: right;
                    }
                }
            }
        }
        tbody {
            tr {
                td:nth-child(2n+1){
                    @media(max-width: 767px){
                        border-bottom: none;
                    }
                }
                td:first-child {
                    @media(min-width: 768px){
                        text-align: right;
                        width: 200px;
                        a {
                            padding-right: 0;
                        }
                    }
                }
                td {
                    @media(max-width: 767px){
                        display: block;
                    }
                }
            }
            
        }
    }
    
}

.index-overview table.table tbody tr td:first-child {
    @media(min-width: 768px){
        a {
            padding-right: 0;
        }
        width: 300px;
    }
}

.hero.is-info {
    background: $ss-lightblue;
    background-image: none;
}

.hero.is-warning {
    background: $ss-yellow;
    background-image: none;
}

.hero.is-primary{
    background: $ss-darkblue;
}

h1.title {
    font-weight: 600;
    @media(min-width: 1200px){
        font-size: 4em;
        margin-bottom: 1em !important;
    }
    text-align: left;
}

h2.subtitle {
    text-align: left;
}

.box {
    margin-bottom: 0 !important;
}

footer.footer {
    padding: 20px;

    ul.links {
        list-style: none;
        margin-left: 0;
        margin-top: 0;
        li {
            display: inline-block;
            padding-right: 10px;
            padding-left: 10px;
        }
    }   
}

.message p.with-img {
    img {
        height: 64px;
        width: auto;
    }
    @media(min-width: 768px){
        padding-left: 120px;
        position:relative;
        min-height: 80px;
        img {
            position: absolute;
            left: 0;
        }
    }
    @media(max-width: 767px){
        img {
            display: block;
            margin: 0 auto;
            margin-bottom: 20px;
        }
    }
}

img.country {
    height: 20px;
}

.columns.features {
    .card {
        height: 100%;
    }
}

.card {
    .card-image {
        background: #eee;

        img.teaser-img {
            width: auto;
            max-width: 80%;
            max-height: 40px;
            margin: 10px;
            @media(min-width: 768px){
                margin: 40px;
                height: 60px;
            }
        }        
    }
}

.navbar {

    z-index: auto;

    .navbar-brand, .navbar-menu {
        background: $kip-medium-blue;
    }

    .navbar-dropdown.is-active {
        display: block;
    }

    .navbar-menu {
        margin-right: 0;
    }

    .navbar-burger.is-active {
        @media(max-width: 1087px){
            z-index: 201;
            position: fixed;
            top: 0;
            right: 0;
        }
    }
}

section.section, .hero .hero-body {
    @media(max-width: 767px){
        padding: 1rem;
    }
}

.main {

    min-height: calc(100vh - 120px);

    @media(min-width: 1088px){
        padding-left: 300px;
        position: relative;    
    }

    .side-menu {

        padding: 0;
        margin: 0;
        background: $kip-medium-gray;
        color: #fff;

        a, .menu-label {
            color: #fff;
        }

        a.is-active {
            border-left: 10px $kip-medium-blue solid;
            border-radius: 0;
            background: inherit;
        }

        .menu-list {
            li ul {
                border-left: none;
            }
            a:hover {
                background: inherit;
            }    
        }

        @media(max-width: 1087px){
            display: none;
        }
    
        @media(min-width: 1088px){
            display: block;
            position: absolute;
            left: 0;
            padding: 10px;
            top: 0;
            min-height: 100%;
            width: 300px;
        }
    
        &.mobile-only {
            @media(min-width: 1088px){
                display: none;
            }
        }

        ul.menu-list {
            li ul {
                margin-right: 0;
            }
        }
    
        aside.menu {
            margin-bottom: 15px;
    
            &.mobile-only {
                @media(min-width: 1088px){
                    display: none;
                }
            }
        }
    
        &.is-active {
            @media(max-width: 1087px){
                z-index: 200;
                display: block;
                position: fixed;
                top:0;
                right:0;
                width: 300px;
                overflow-y: auto;
                height: 100%;
                padding-left: 10px;
                padding-right: 10px;
                padding-top: 60px;
            }
        }
    }    
}


.hero.is-info .content {
    h1, h2, h3, h4, h5, h6 {
        color: #fff;
    }
}
