{% extends("with_side_menu.html") %}
{% block extra_nav %}
    {% include "common/law/_article_nav.html" %}
{% endblock %}
{%block content%}
<div class="article">
    {% include "common/law/_article_header.html" %}
    <div class="content">
        {% if wiki_content is defined %}
        {{wiki_content|safe}}
        <hr />
        <p class="menu">
            <a href="{{edit_url}}">edit this Wiki</a>
        </p>
        {% else %}
            <p>
                {{'no-wiki-content'|translate(new_url=new_url)}}
            </p>
            <p>
                <a href="{{new_url}}" class="button is-success">{{'new-wiki'|translate}}</a>
            </p>
        {% endif %}
    </div>
</div>
{%endblock%}