{% extends("common/law/base.html") %}
{%block content%}
<div class="glossary-definition content">
    {% if not definition.title %}
    <div class="message is-warning">
        <div class="message-body">
            {{'no-definition-content'|translate}}
        </div>
    </div>
    {% else %}
    <h2 class="title">{{definition.title}}</h2>
    {% if definition['official-description'] is defined %}
        <div class="official-description">
            <h3>{{'official-definition'|translate}}</h3>
            <p>
                {{definition['official-description']|law_markup(lang)|safe}}
            </p>
        </div>
    {% endif %}
    {% if definition.description is defined %}
        <div class="official-description">
            <h3>{{'community-definition'|translate}}</h3>
            <p>
                {{definition.description|law_markup(lang)|safe}}
            </p>
        </div>
    {% endif %}
    {% endif %}
</div>

{%endblock%}