/* muli-200 - latin */
@import url(../css/bulma.min.css);
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 200;
  src: url("../fonts/muli-v16-latin-200.eot");
  /* IE9 Compat Modes */
  src: local("Muli ExtraLight"), local("Muli-ExtraLight"), url("../fonts/muli-v16-latin-200.eot?#iefix") format("embedded-opentype"), url("../fonts/muli-v16-latin-200.woff2") format("woff2"), url("../fonts/muli-v16-latin-200.woff") format("woff"), url("../fonts/muli-v16-latin-200.ttf") format("truetype"), url("../fonts/muli-v16-latin-200.svg#Muli") format("svg");
  /* Legacy iOS */ }

/* muli-regular - latin */
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/muli-v16-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local("Muli Regular"), local("Muli-Regular"), url("../fonts/muli-v16-latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/muli-v16-latin-regular.woff2") format("woff2"), url("../fonts/muli-v16-latin-regular.woff") format("woff"), url("../fonts/muli-v16-latin-regular.ttf") format("truetype"), url("../fonts/muli-v16-latin-regular.svg#Muli") format("svg");
  /* Legacy iOS */ }

/* muli-800 - latin */
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/muli-v16-latin-800.eot");
  /* IE9 Compat Modes */
  src: local("Muli ExtraBold"), local("Muli-ExtraBold"), url("../fonts/muli-v16-latin-800.eot?#iefix") format("embedded-opentype"), url("../fonts/muli-v16-latin-800.woff2") format("woff2"), url("../fonts/muli-v16-latin-800.woff") format("woff"), url("../fonts/muli-v16-latin-800.ttf") format("truetype"), url("../fonts/muli-v16-latin-800.svg#Muli") format("svg");
  /* Legacy iOS */ }

@font-face {
  font-family: "Nunito";
  font-weight: 900;
  font-style: normal;
  src: url("../fonts/Nunito-Black.woff") format("woff"); }

@font-face {
  font-family: "Nunito";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/Nunito-Bold.woff") format("woff"); }

@font-face {
  font-family: "Nunito";
  font-weight: 600;
  font-style: normal;
  src: url("../fonts/Nunito-Semibold.woff") format("woff"); }

@font-face {
  font-family: "Nunito";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/Nunito-Regular.woff") format("woff"); }

@font-face {
  font-family: "Nunito";
  font-weight: 300;
  font-style: normal;
  src: url("../fonts/Nunito-Light.woff") format("woff"); }

.article {
  font-size: 1.2em;
  line-height: 150%; }
  .article h1.title {
    margin-bottom: 1em; }
  .article h2.subtitle {
    margin-bottom: 0.5em; }
  .article a.index {
    color: inherit;
    border-bottom: 1px dashed #95C11F; }
  .article ul.paragraphs, .article ul.points {
    margin-left: 0;
    margin-top: 1em;
    position: relative;
    list-style: none; }
    .article ul.paragraphs li, .article ul.points li {
      margin-bottom: 1em; }
  .article ul.paragraphs li {
    margin-left: 2.2em; }
  .article ul.paragraphs li > span.art-number {
    font-weight: 600;
    position: absolute;
    left: 0; }

.message.cookie-notice {
  display: none; }
  @media (min-width: 768px) {
    .message.cookie-notice {
      position: fixed;
      bottom: 20px;
      right: 20px;
      max-width: 300px; } }
  @media (max-width: 767px) {
    .message.cookie-notice {
      border: none;
      border-radius: 0;
      width: 100%;
      position: fixed;
      bottom: 0;
      margin-bottom: 0;
      margin-right: 0; } }
  .message.cookie-notice .message-body {
    font-size: 0.8em; }

body {
  font-family: "Nunito", sans-serif;
  font-weight: 400;
  min-height: 100vh;
  color: #525f7f; }
  @media (max-width: 767px) {
    body {
      font-size: 0.8em; } }

.content h1, .content h2, .content h3, .content h4, .content h5, .content h6 {
  color: #525f7f; }

h1,
h2,
h3,
h4,
h5,
h6,
h2.title,
h2.subtitle {
  font-family: "Muli", sans-serif;
  color: #525f7f; }

.articles-overview .subtitle, .index-overview .subtitle {
  font-size: 1.6rem;
  margin-bottom: 1rem; }

.articles-overview .subsubtitle, .index-overview .subsubtitle {
  font-size: 1.4rem;
  margin-bottom: 0.5rem; }

.articles-overview p.description, .index-overview p.description {
  padding: 1rem;
  background: #fafafa;
  font-style: italic;
  border-radius: 4px;
  margin-bottom: 1rem; }

.articles-overview table.table a, .index-overview table.table a {
  padding-right: 1rem; }

@media (max-width: 767px) {
  .articles-overview table.table thead, .index-overview table.table thead {
    display: none; } }

@media (min-width: 768px) {
  .articles-overview table.table thead tr th:first-child, .index-overview table.table thead tr th:first-child {
    text-align: right; } }

@media (max-width: 767px) {
  .articles-overview table.table tbody tr td:nth-child(2n+1), .index-overview table.table tbody tr td:nth-child(2n+1) {
    border-bottom: none; } }

@media (min-width: 768px) {
  .articles-overview table.table tbody tr td:first-child, .index-overview table.table tbody tr td:first-child {
    text-align: right;
    width: 200px; }
    .articles-overview table.table tbody tr td:first-child a, .index-overview table.table tbody tr td:first-child a {
      padding-right: 0; } }

@media (max-width: 767px) {
  .articles-overview table.table tbody tr td, .index-overview table.table tbody tr td {
    display: block; } }

@media (min-width: 768px) {
  .index-overview table.table tbody tr td:first-child {
    width: 300px; }
    .index-overview table.table tbody tr td:first-child a {
      padding-right: 0; } }

.hero.is-info {
  background: #375EA7;
  background-image: none; }

.hero.is-warning {
  background: #FFA600;
  background-image: none; }

.hero.is-primary {
  background: #193E70; }

h1.title {
  font-weight: 600;
  text-align: left; }
  @media (min-width: 1200px) {
    h1.title {
      font-size: 4em;
      margin-bottom: 1em !important; } }

h2.subtitle {
  text-align: left; }

.box {
  margin-bottom: 0 !important; }

footer.footer {
  padding: 20px; }
  footer.footer ul.links {
    list-style: none;
    margin-left: 0;
    margin-top: 0; }
    footer.footer ul.links li {
      display: inline-block;
      padding-right: 10px;
      padding-left: 10px; }

.message p.with-img img {
  height: 64px;
  width: auto; }

@media (min-width: 768px) {
  .message p.with-img {
    padding-left: 120px;
    position: relative;
    min-height: 80px; }
    .message p.with-img img {
      position: absolute;
      left: 0; } }

@media (max-width: 767px) {
  .message p.with-img img {
    display: block;
    margin: 0 auto;
    margin-bottom: 20px; } }

img.country {
  height: 20px; }

.columns.features .card {
  height: 100%; }

.card .card-image {
  background: #eee; }
  .card .card-image img.teaser-img {
    width: auto;
    max-width: 80%;
    max-height: 40px;
    margin: 10px; }
    @media (min-width: 768px) {
      .card .card-image img.teaser-img {
        margin: 40px;
        height: 60px; } }

.navbar {
  z-index: auto; }
  @media (min-width: 1088px) {
    .navbar {
      display: none; } }
  .navbar .navbar-brand, .navbar .navbar-menu {
    background: #525f7f; }
  .navbar .navbar-dropdown.is-active {
    display: block; }
  .navbar .navbar-menu {
    margin-right: 0; }
  @media (max-width: 1087px) {
    .navbar .navbar-burger.is-active {
      z-index: 201;
      position: fixed;
      top: 0;
      right: 0; } }

section.section, .hero .hero-body {
  max-width: 1000px; }
  @media (max-width: 767px) {
    section.section, .hero .hero-body {
      padding: 1rem; } }

section.section.first {
  padding-top: 20px; }

pre {
  font-size: 0.7rem;
  background: inherit; }

@media (min-width: 1088px) {
  .with-comments {
    position: relative;
    padding-right: calc(40% + 20px);
    min-height: 100vh; } }

@media (min-width: 1088px) {
  .with-comments .comments {
    background: #2581c4;
    position: absolute;
    right: 0;
    height: 100%;
    width: 40%; } }

.with-comments .comment {
  padding: 10px;
  background: #525f7f;
  margin-bottom: 20px;
  border-radius: 8px;
  color: #fff; }
  @media (min-width: 1088px) {
    .with-comments .comment {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      position: absolute;
      right: 0;
      width: calc(40% + 20px);
      margin-top: -20px; } }

@media (min-width: 1088px) {
  .main {
    min-height: 100vh;
    padding-left: 300px;
    position: relative; } }

@media (max-height: 1087px) {
  .main {
    min-height: calc(100vh - 80px); } }

.main .side-menu {
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2), 20px 20px 20px rgba(0, 0, 0, 0.001);
  padding: 0;
  margin: 0;
  background: #525f7f;
  color: #fff; }
  .main .side-menu a, .main .side-menu .menu-label {
    color: #fff;
    border-left: 10px solid rgba(0, 0, 0, 0); }
  .main .side-menu a.is-active {
    border-left: 10px #2581c4 solid;
    border-radius: 0;
    background: inherit; }
  .main .side-menu .menu-list li ul {
    border-left: none; }
  .main .side-menu .menu-list a:hover {
    background: inherit; }
  @media (max-width: 1087px) {
    .main .side-menu {
      display: none; } }
  @media (min-width: 1088px) {
    .main .side-menu {
      display: block;
      position: absolute;
      left: 0;
      padding: 20px;
      top: 0;
      min-height: 100%;
      width: 300px; } }
  @media (min-width: 1088px) {
    .main .side-menu.mobile-only {
      display: none; } }
  .main .side-menu ul.menu-list li ul {
    margin-right: 0; }
  .main .side-menu aside.menu {
    margin-bottom: 15px; }
    @media (min-width: 1088px) {
      .main .side-menu aside.menu.mobile-only {
        display: none; } }
  @media (max-width: 1087px) {
    .main .side-menu.is-active {
      z-index: 200;
      display: block;
      position: fixed;
      top: 0;
      right: 0;
      width: 300px;
      overflow-y: auto;
      height: 100%;
      padding-left: 10px;
      padding-right: 10px;
      padding-top: 60px; } }

.hero.is-info .content h1, .hero.is-info .content h2, .hero.is-info .content h3, .hero.is-info .content h4, .hero.is-info .content h5, .hero.is-info .content h6 {
  color: #fff; }
