{% extends("base.html") %}
{%block content%}
<h1 class="title">
    Imprint
</h1>
<p class="lead">
    Verantwortlich für den Inhalt dieser Internet-Seiten ist die
    <strong>
    KIProtect GmbH,
    Bismarckstr. 10-12,
    10625 Berlin.</strong> Unsere Handelsregister-Nr. lautet
    <strong>HRB 208-395</strong>, unsere Umsatzsteuer-ID
    <strong>DE-325811345</strong>.
    <br /><br />
    Vertretungsberechtigter Geschäftsführer ist
    <strong>Dr. Andreas Dewes</strong>.
    Fragen? <a href="mailto:info@kiprotect.com">Schreiben Sie uns!</a>
</p>
<h1>Datenschutz</h1>
<p class="lead">
    Der Schutz ihrer Daten beim Besuch unserer Webseite ist uns enorm wichtig. Im
    Folgenden erläutern wir daher die Maßnahmen die wir zum Schutz der Daten ergreifen
    sowie die Art der Daten, die wir von Besuchern dieser Webseite erheben und verarbeiten.
</p>
<h2>Serverstandort &amp; Logging</h2>
<p>
    Diese Webseite wird auf einem Server in der europäischen Union gehostet. Es
    werden keine Logeinträge zur IP-Adresse von Besuchern erfasst. Software-Pakete
    auf dem Server werden regelmäßig und automatisiert aktualisiert, Zugriffsversuche
    und Änderungen an der Server-Konfiguration werden protokolliert und regelmäßig kontrolliert.
    Zugriff besteht nur für interne Mitarbeiter der KIProtect GmbH über ein mehrstufiges
    Zugriffsverfahren nach modernen Standards (Zwei-Faktor Authentifizierung).
</p>
<h2>Erfassung von Zugriffsstatistiken</h2>
<p>
        Besucherstatistiken werden über eine selbstgehostete Analytics-Plattform (Piwik) erfasst, die ebenfalls
        auf einem Server in der europäischen Union gehostet wird und durch mehrstufige
        Zugriffsbeschränkungen vor unberechtigtem Zugriff geschützt wird. Das Analytics-Skript
        für Javascript in ihrem Browser aus und
        nutzt Cookies um Sie über mehrfache Besuche hinweg zu identifizieren. Die Software
        unterstützt allerdings den <strong>Do Not Track</strong> Standard, so dass Sie das Setzen der
        Cookies über Ihren Browser deaktivieren können.
    </p>
<h2>Ressourcen von Drittanbietern</h2>
<p>
    Es werden auf unserer Seite aktuell folgende Skripte und Ressourcen von Drittanbietern
    eingesetzt:
</p>
<ul>
    <li>
        <strong>Piwik-Analytics:</strong> Wir nutzen zur Erfassung von Zugriffsstatistiken
        Piwik (siehe oben), welches ein Javascript-Objekt der Domäne <i>analytics.KIProtect.com</i>
        herunterlädt und ausführt.
    </li>
</ul>
<h2>Content-Delivery und DDoS Schutz</h2>
<p>
    Diese Seite nutzt Cloudflare als DNS- und Content-Delivery-Provider. Dies erlaubt uns,
    unsere IT-Infrastruktur effektiv vor DDoS-Angriffen zu schützen und die IP-Adressen unserer
    Server geheimzuhalten, was Angriffe zusätzlich erschwert. Cloudflare erhebt unserer
    Kenntnis nach keinerlei Kundendaten und leitet Anfragen lediglich über deren sichere
    Infrastruktur an unseren Server weiter. Sollten Sie diese Seite über HTTPs aufrufen,
    wird der verschlüsselte Traffic dabei von Cloudflare "aufgebrochen" und vor der
    Weiterübermittlung neu verschlüsselt.
</p>
<p>
    Cloudflare setzt beim Aufruf der Seite ein Cookie, welches zur Absicherung der Webseite
    gegen DDos Angriffe sowie für das Caching eingsetzt wird.
</p>
<p>
    In Abhängigkeit Ihrer IP-Adresse werden Sie möglicherweise dazu aufgefordert, ein
    CAPTCHA zu lösen um diese Seite aufzurufen. Dies kann insbesondere beim Aufruf der
    Webseite durch Proxy-Dienste (z.B. TOR) erfolgen. Wir bitten die Unnanehmlichkeiten
    hierfür zu entschuldigen, diese Maßnahme dient der Absicherung.
</p>
<h2>Ihre E-Mail Adresse</h2>
<p>
    Wir nutzen die von Ihnen bei der Anmeldung angegebene E-Mail Adresse nur für die auf
    der Anmeldungsseite genannten Zwecke, inbesondere um Sie im Bezug auf KIProtect zu
    kontaktieren. Wir werden Ihre Adresse unter keinen Umständen an Dritte weitergeben
    oder für andere Zwecke nutzen. Die Verarbeitung und Speicherung Ihrer E-Mail Adresse
    erfolgt auf Servern in der europäischen Union durchgeführt.
</p>
{%endblock%}

