{% extends("base.html") %}
{%block main%}

<section class="hero is-info is-medium">
    <div class="hero-body">
        <div class="container">
        <h1 class="title">
            {{'site-title'|translate}}
        </h1>
        <p>
            {{'site-subtitle'|translate}}
        </p>
        </div>
    </div>    
</section>

<section class="section teaser">
    <div class="container">
        <div class="columns features">
            <div class="column is-4">
                <div class="card is-shady">
                    <div class="card-image has-text-centered">
                        <img src="{{'images/logos/github.png'|file}}" class="teaser-img" />
                    </div>
                    <div class="card-content">
                    <div class="content">
                        <h4>{{'open-source-title'|translate}} </h4>
                        <p>{{'open-source-description'|translate(repo_url=site.config['repo-url'])}}</p>
                    </div>
                    </div>
                </div>
            </div>
            <div class="column is-4">
                <div class="card is-shady">
                    <div class="card-image has-text-centered">
                        <img src="{{'images/logos/creative-commons.png'|file}}" class="teaser-img" />
                    </div>
                    <div class="card-content">
                    <div class="content">
                        <h4>{{'license-title'|translate}}</h4>
                        <p>{{'license-description'|translate}}</p>
                    </div>
                    </div>
                </div>
            </div>
            <div class="column is-4">
                <div class="card is-shady">
                    <div class="card-image has-text-centered">
                        <img src="{{'images/icons/03_thumbs_up_128.png'|file}}" class="teaser-img" />
                    </div>
                    <div class="card-content">
                    <div class="content">
                        <h4>{{'depth-title'|translate}}</h4>
                        <p>{{'depth-description'|translate}}</p>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="hero">
    <div class="hero-body">
        <div class="container">
            <h3 class="title">Online Content</h3>

            <div class="columns features">
                <div class="column is-4">
                    <div class="card">
                        <div class="card-image has-text-centered">
                            <img src="{{'images/icons/07_law_scales_128.png'|file}}" class="teaser-img" />
                        </div>
                        <div class="card-content">
                            <p class="title is-4">{{'the-law-title'|translate}}</p>                    
                            <div class="content">
                                {{'the-law-description'|translate}}
                            </div>
                        </div>
                    </div>
                </div>
    
                <div class="column is-4">
                    <div class="card">
                        <div class="card-image has-text-centered">
                            <img src="{{'images/icons/09_teamwork_collaboration_128.png'|file}}" class="teaser-img" />
                        </div>
                        <div class="card-content">
                            <p class="title is-4">{{'wiki-title'|translate}}</p>                    
                            <div class="content">
                                {{'wiki-description'|translate}}
                            </div>
                        </div>
                    </div>
                </div>
    
                <div class="column is-4">
                    <div class="card">
                        <div class="card-image has-text-centered">
                            <img src="{{'images/icons/42_faster_thinking_128.png'|file}}" class="teaser-img" />
                        </div>
                        <div class="card-content">
                            <p class="title is-4">{{'summaries-title'|translate}}</p>                    
                            <div class="content">
                                {{'summaries-description'|translate}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section" style="padding-top: 0">
    <div class="container">
        <article class="message is-danger">
            <div class="message-body">
                <p class="with-img">
                    <img src="{{'images/icons/32_crane_building_128.png'|file}}" />
                    {{'under-construction'|translate(link='https://www.github.com/dpkit/gdpr-portal')}}
                </p>
            </div>
        </article>
    </div>
</section>
    

<!--
<section class="hero is-primary">
    <div class="hero-body">
        <div class="container">
            <div class="columns">
                <div class="column is-6">
                    <h3 class="title">GDPR - The Missing Manual</h3>
                </div>
                <div class="column is-6">
                    <p>
                        Test
                    </p>
                </div>
            </div>    
        </div>
    </div>
</section>
-->
{%endblock%}